<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="AddCustomer.java">
        <classes>
            <class name="login.AddCustomer">
                <parameter name="username" value="manasdabhade12@gmail.com"></parameter>
                <parameter name="password" value="123456789"></parameter>
            </class>
        </classes>
    </test>
</suite>